*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 550;
    font-size: 20px;
    color: #725f5f;
}
.uk img{
    width: 25px;
    margin-left: 1000px;
    margin-top: -130px;
}
.uk{
    margin-top: -20px;
}
.p1 img{
    width: 70px;
    margin-top: 15px;
}
.bric{
    margin-left: 75px;
    font-size: 40px;
    margin-top: -50px;
    color: white;
    font-weight: 550;
}
.input{
    margin-left: 600px;
    margin-top: -50px;
}
input{
    padding: 15px;
    width: 350px;
    text-align: center;
    font-size: 20px;
}
.gen{
    margin-top: 30px;
    background-color: #FFD600;
    height: 100px;
}
.icons{
    margin-left: 1000px;
    margin-top: -40px;
    font-size: 20px;

}
.cata{
    margin-left: 400px;
    font-size: 30px;
    margin-top: -40px;
}
.ser{
    margin-left: 630px;
    margin-top: -20px;
    font-size: 20px;
}
.fog img{
    width: 340px;
    height: 12vh;
    margin-left: 550px;
    margin-top: -27px;

}
.all{
    background-color: black;
    height: 14vh;

}
.image{
    display: flex;
    margin-left: 300px;
    margin-top: -590px;
    gap: 150px;
}
#w1,#w2,#w3{
    width: 200px;
}
.image1{
    display: flex;
    margin-left: 300px;
    gap: 150px;
    margin-top: 120px;
}
#w4,#w5,#w6{
    width: 200px;
}
.image2{
    display: flex;
    margin-left:300px;
    margin-top: 120px;
    gap: 150px;
}
#w7,#w8,#w9{
    width: 200px;
}
.image3{
    display: flex;
    margin-left:300px;
    margin-top: 120px;
    gap: 150px;
}
#w10,#w13,#w12{
    width: 200px;
}
.image4{
    display: flex;
    margin-left:300px;
    margin-top: 120px;
    gap: 150px;
}
#w14,#w15,#w16{
    width: 200px;
}
.image5{
    display: flex;
    margin-left:300px;
    margin-top: 120px;
    gap: 150px;
}
#w17,#w18,#w19{
    width: 200px;
}
.leg{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 550px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 120px;
}
.t1{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n1{
    font-size: 20px;
    color: rgb(243, 8, 8);
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.t2{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n2{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.t3{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n3{
    font-size: 20px;
    color: rgb(243, 8, 8);
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.t4{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n4{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.t5{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n5{
    font-size: 20px;
    color: rgb(243, 8, 8);
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.t6{
    margin-left: 350px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 200px;
}
.n6{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-left: 350px;
    display: flex;
    gap: 350px;
}
.b1{
    width: 63px;
    height: 4vh;
    border-radius: 50%;
    margin-left: 320px;
    margin-top: -250px;
}
.series{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 550;
    color: #4d4141;
}
.buts{
    margin-top: 100px;
    margin-left: 500px;
}
.j1,.j2,.j3,.j4{
    font-size: 20px;
    font-weight: 550;
    border-radius: 50%;
    padding: 20px;
    
}
.j2{
    margin-left: 40px;
}
.j3{
    margin-left: 40px;
}
.j4{
    margin-left: 40px;
}

.j1{
    background-color: #FFD600;
}
.stars{
    margin-left: 400px;
    font-size: 20px;
    color: #FFD600;

}
.sters{
    margin-left: 700px;
    font-size: 20px;
    margin-top: -10px;
}
.stirs{
    margin-left: 1160px;
    font-size: 20px;
    margin-top: -35px;

}
.dot{
    font-size: 60px;
    margin-left: 870px;
    margin-top: -80px;
    color: #725f5f;
}
.j5{
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 550;
    margin-left: 930px;
}
.j7{
    margin-top: -55px;
}
.end{
    margin-left: 700px;
    margin-top: 40px;
}
.more{
    padding: 20px;
    width: 200px;
    font-size: 20px;
    font-weight: 550;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFD600;
}
.footer{
    margin-top: 30px;
    display: flex;
    font-size: 20px;
    background-color: #26004c;
    width: 1270px;
    height: 30vh;
}
.fun{
    font-weight: 550;
    margin-top: 20px;
}
.fon{
    margin-left: 30px;
}
.foo{
    font-weight: 550;
    margin-top: 20px;
}
.con{
    margin-left: 30px;
}
.cun{
    margin-left: 30px;
}
.kan{
    margin-left: 30px;
}
.fuu{
    font-weight: 550;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
}
.tan{
    margin-top: 100px;
}
.tuu{
    font-weight: 550;
    margin-left: -140px;
    margin-top: 20px;
}
.navs{
    display: flex;
    justify-content: space-between;
}
